.aboutUsContainer{
  background-color: #dbdbda2f;
}

.acordionsito{
  background-color: white;
}

.bg-proveedores{
  background-color: white;
}

.sliderContainer{
  background-color: #dbdbda2f;
}

.bg-financiamiento{
  background-color: #dbdbda2f;
}